<div>
  <form action="/api/session/login" method="POST">
    <h1>Usuario</h1>
    <input type="text" placeholder="Ingrese su usuario" />
    <h1>Contrasena</h1>
    <input type="text" placeholder="Ingrese su contrasena" />
  </form>
</div>