{{#each arrayProducts}}
  <div class="card-container-home">
    <div class="card-container-title">
      <h3>{{title}}</h3>
      <p>Precio: ${{price}}</p>
      <button>Agregar al carrito</button>
    </div>
  </div>
{{/each}}