<div class="form-container">
  <form action="/api/products/add" method="POST" id="newProductForm">
    <div>
      <h2>Ingrese el producto que desea agregar</h2>
    </div>
    <div class="form-input-container">
      <input type="text" name="title" placeholder="Titulo" />
    </div>
    <div class="form-input-container">
      <input type="text" name="description" placeholder="Description" />
    </div>
    <div class="form-input-container">
      <input type="number" name="price" placeholder="Precio" />
    </div>
    <div class="form-input-container">
      <input type="text" name="image" placeholder="URL de la imagen" />
    </div>
    <div class="form-input-container">
      <input type="text" name="code" placeholder="Codigo" />
    </div>
    <div class="form-input-container">
      <input type="text" name="stock" placeholder="Stock" />
    </div>
    <div class="form-input-container">
      <input type="text" name="category" placeholder="Categoria" />
    </div>
    <div class="form-checkbox-container">
      <select name="status" id="">
        <input type="checkbox" /><label value="true">Activo</label>
        <input type="checkbox" /><label value="false">Inactivo</label>
      </select>
    </div>
    <input type="submit" value="Submit" />
  </form>
</div>