<nav class="header">
  <h1>José Agustín Lorenzatti Nigro</h1>
  <ul>
    <button><a href="/">Ir al home</a></button>
    <button><a href="/realtimeproducts">Real Time Products</a></button>
    <button><a href="/chat">Chat</a></button>
    <button><a href="/products">Ir a productos</a></button>
    <button><a href="/carts/{{this.cartId._id}}">Ir al carrito</a></button>
    <button><a href="/api/sessions/logout">Cerrar sesion</a></button>
  </ul>
</nav>