<nav class="header">
  <h1>José Agustín Lorenzatti Nigro</h1>
  <ul>
    <button><a href="/">Ir al home</a></button>
    <button><a href="/realtimeproducts">Real Time Products</a></button>
    <button><a href="/chat">Chat</a></button>
  </ul>
</nav>